# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0

# The entry name that will be displayed in the boot menu
:my kernel

# Change the protocol line depending on the used protocol.
PROTOCOL=stivale2

# Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
KERNEL_PATH=boot:///kernel.elf

# Load the init program as a module
MODULE_PATH=boot:///init
MODULE_STRING=init
